body {
    overflow: clip;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.j-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

section {
    position: relative;
    z-index: -1;
    height: 45vh;
    background-color: #4C3A99;
}

main {
    text-align: center;
    width: 550px;
    position: relative;
    background-color: white;
    bottom: 200px;
    padding: 70px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px gray;
}

form {
    width: 100%;
}

input, #submit {
    border-radius: 3px;
}

input {
    width: 310px;
    height: 28px;
    font-size: 17px;
    border: 0.5px solid #C9DABF;
    padding: 2px 0 2px 32px;
}

img {
    width: 100px;
}

i {
    position: relative;
    z-index: 1;
    left: 7px;
    font-size: 20px;
    width: 0;
    font-size: 17px;
}

.gray {
    color: #808D7C
}

.description {
    margin-bottom: 22px;
}

#submit {
    margin-top: 19px;
    width: 343px;
    padding: 11px 0;
    font-size: 17px;
    border: none;
    font-weight: 550;
    background-color: #604CC3;
    color: white;
}

.login {
    margin-top: 25px;
}

a {
    width: 160px;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        overflow: hidden;
    }

    section {
        display: none;
    }
     
    main {
        width: 100%;
        position: static;
        padding: 70px 20px;
        border-radius: 0;
        box-shadow: none;
    }

}
