<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forgot Password</title>

        <!-- My Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">

        <!-- Noto Sans Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Fontawesome scripts -->
        <script src="https://kit.fontawesome.com/4b92c18dda.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section id="background"></section>
        <div class="main-div flex j-center">
            <main>
                <img src="https://cdn-icons-png.flaticon.com/512/13309/13309011.png" alt="forgot-password-icon">
                <h1 class="title">Forgot Password?</h1>
                <p class="description gray">Enter your email address and we'll send you a reset pin.</p>
                <form method="POST" class="flex flex-col j-center">
                    <div class="form-group flex">
                        <i class="fa-solid fa-envelope gray"></i>
                        <input id="email" name="email" type="email" placeholder="example@gmail.com">
                    </div>
                    {% if err != 'err': %}
                        <p class="error" style="color: red;">{{ err }}</p>
                    {% endif %}
                    <button id="submit" type="submit">Submit</button>
                    <div class="login flex">
                        <i class="fa-solid fa-less-than"></i>
                        <a href="{{ url_for('sign_in', err='err') }}">Back to Login</a>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>
