<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reset Pin</title>

        <!-- My Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/password_recovery.css') }}">

        <!-- Noto Sans Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Fontawesome scripts -->
        <script src="https://kit.fontawesome.com/4b92c18dda.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section id="background"></section>
        <div class="main-div flex j-center">
            <main>
                <div class="asterisks flex j-center">
                    <i class="fa-solid fa-asterisk"></i>
                    <i class="fa-solid fa-asterisk"></i>
                    <i class="fa-solid fa-asterisk"></i>
                </div>
                <h1 class="title">Reset Pin?</h1>
                <p class="description gray">Use the temporary PIN from your email to recover or reset your password.</p>
                <form method="POST" class="flex flex-col j-center">
                    <div class="form-group flex">
                        <i class="fa-solid fa-lock gray"></i>
                        <input id="pin" name="pin" type="number" placeholder="123">
                    </div>
                    {% if err != 'err' and "resent" not in err: %}
                        <p class="error" style="color: red;">{{ err }}</p>
                    {% elif "resent" in err: %}
                        <p class="error" style="color: #04ff04;">{{ err }}</p>
                    {% endif %}
                    <button id="submit" type="submit">Submit</button>
                    <a href="{{ url_for('send_mail', user_id=user_id) }}">
                        <button id="resend" type="button">
                            Resend Pin
                        </button>
                    </a>
                </form>
            </main>
        </div>
    </body>
</html>
