<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>

        <!-- My Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">

        <!-- Noto Sans Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!-- Fontawesome scripts -->
        <script src="https://kit.fontawesome.com/4b92c18dda.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- https://www.bing.com/images/search?view=detailV2&ccid=Y8lSilFc&id=90FB7EDE41E618961A8709D4CEE363CCA7A207DE&thid=OIP.Y8lSilFc-LQAiBPvqQTm-AHaEK&mediaurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F38%2F8d%2F46%2F388d469124158bd5a8402c6d600b5b30.png&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.63c9528a515cf8b4008813efa904e6f8%3Frik%3D3geip8xj487UCQ%26pid%3DImgRaw%26r%3D0&exph=1080&expw=1920&q=e-commercesign+up+web+form&simid=608016268686020164&form=IRPRST&ck=3DB94D39525D461CBA4DA00E44B3F375&selectedindex=4&itb=0&ajaxhist=0&ajaxserp=0&vt=0&sim=11 -->
        <main class="flex">
            <section id="left-s"></section>
            <section id="right-s" class="flex">
                <form method="POST" id="form">
                    <h1 id="form-title">Create an Account</h1>
                    {% if "Username" in err or "Email" in err or "Password" in err: %}
                        <h1 id="error" style="color: red">{{ err }}</h1>
                    {% else: %}
                        <h1 id="error" style="color: red"></h1>
                    {% endif %}

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="text" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password">
                        <div class="strength-fields flex">
                            <div class="strength-field" style="background-color: #B0B0B0"></div>
                            <div class="strength-field" style="background-color: #B0B0B0"></div>
                            <div class="strength-field" style="background-color: #B0B0B0"></div>
                            <div class="strength-field" style="background-color: #B0B0B0"></div>
                            <span class="strength-field-des" style="color: #B0B0B0">(unsecured)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password">
                        <div class="error-box confirm-password"></div>
                    </div>
                    <div class="but-div t-center">
                        <button type="button" id="form-but">
                            Sign Up
                            <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
                        </button>
                    </div>
                    <div class="form-group t-center">
                        <p class="ts_and_cs text">
                            By registering you agree to the
                            <span>
                                <a id="ts_and_cs link" href="#">Term's and Conditions</a>
                            </span>
                        </p>
                        <p class="sign-in text">
                            Already registered?
                            <span>
                                <a id="sign-in link" href="{{ url_for('sign_in', err='err') }}">Sign In</a>
                            </span>
                        </p>
                    </div>
                    </div>
                </form>
                <div class="icon">
                    <img class="hanger-img" src="https://cdn-icons-png.flaticon.com/512/3159/3159614.png" alt="image">
                </div>
            </section>
        </main>
        <script src="{{ url_for('static', filename='scripts/sign_up_scripts.js') }}"></script>
    </body>
</html>
