<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>

        <!-- My Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
    </head>
    <body>

        <form method="POST" id="form">
            {% for string in ["Username", "Email", "Password"]: %}
                {% if string in err: %}
                    <h1 id="error" style="color: red">{{ err }}</h1>
                {% endif %}
            {% endfor %}

            {% for string in ["username", "email", "password"]: %}
                <div class="form-group">
                {% if string.title() in err: %}
                    <label style="color: red" for="{{ string }}">{{ string.title() }}</label>
                    <input style="border-color: red" type="text" id="{{ string }}" name="{{ string }}">
                {% else: %}
                    <label for="{{ string }}">{{ string.title() }}</label>
                    <input type="text" id="{{ string }}" name="{{ string }}">
                {% endif %}
                    <div class="error-box"></div>
                </div>
            {% endfor %}
            <button type="button" id="form-but">Sign Up</button>
        </form>
        <script src="{{ url_for('static', filename='scripts/sign_up_scripts.js') }}"></script>
    </body>
</html>