<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <script>

            let userInput = 'madelathepoet@gmail.com';

            function validate1() {
                /* for (let i = 0; i < userInput.length; i++) {
                    if (userInput[i] === "." && userInput[i + 1] === ".") {
                        return false
                    }
                } */

                // console.log(/\.*\./g.test(userInput))

                // console.log(userInput.split(".").length - 1)

            }
            validate1()

            const charCounter = (char) => userInput.split(char).length - 1;

            function atError() {
                if (charCounter("@") > 1) {
                  return true;
                }

                return userInput.includes("@") != true;
            }


            function hasUnallowedChars(string, unallowedChars) {
                for (const char of unallowedChars) {
                    if (string.includes(char)) {
                        return true;
                    }
                }
            }

            function hasBeginningEndChar(string, allowedChars) {
                for (const char of allowedChars) {
                    if (char === string[0] || char === string[string.length - 1]) {
                      return true;
                    }
                }
            }

            const isNotValid = () => {
              const splitEmailAddress = userInput.split("@");

              // User Metrics
              const userPart = splitEmailAddress[0];
              const userPartDisallowedChars = [' ', '"', '\\', ',', ':', ';', '<', '>', '[', ']', '(', ')', '@'];
              const restrictedUserPartBeginEndChars = ['.', '-', '_', '!', '#', '$', '%', '&', "'", '*', '+', '/', '=', '?', '^', '`', '{', '|', '}', '~'];
              const restrictedUserPartDoubleChars = restrictedUserPartBeginEndChars.map((item) => `${item}${item}`)

              // Domain Metrics
              const domainPart = splitEmailAddress[1];
              const domainPartDisallowedChars = [' ', '"', '\\', ',', ':', ';', '<', '>', '[', ']', '(', ')', '@', '_', '/'];
              const restrictedDomainBeginEndChars = ['-', '.'];
              const restrictedDomainPartDoubleChars = restrictedDomainBeginEndChars.map((item) => `${item}${item}`)


              if (atError()) {
                return true;
              } else if (hasUnallowedChars(userPart, userPartDisallowedChars)) {
                return true;
              } else if (hasUnallowedChars(userPart, restrictedUserPartDoubleChars)){
                return true;
              } else if (hasBeginningEndChar(userPart, restrictedUserPartBeginEndChars)) {
                return true;
              } else if (hasUnallowedChars(domainPart, domainPartDisallowedChars)) {
                return true;
              } else if (hasUnallowedChars(domainPart, restrictedDomainPartDoubleChars)) {
                return true;
              } else if (hasBeginningEndChar(domainPart, restrictedDomainBeginEndChars)) {
                return true;
              } else {
                return false;
              }
            }

            console.log(isNotValid())

        </script>
    </body>
</html>