<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <script>

            let userInput = 'mm|.il.com';
            // console.log(/^[-.]|[.-]$|[:,]|([+])\1|.(?<=-)|.(?=-)/.test(userInput));

            const invalidEmail = (regex, emailSegment) => {
              return regex.test(emailSegment);
            }

            console.log(invalidEmail(/^[.-_!#$%&'*+/=?^`{|}~]|[.-_!#$%&'*+/=?^`{|}~]$|[\\,":;<>[\]()]|[.\\-_!#$%&'*+/=?^`{|}~]{2}/, userInput))

            const charCounter = (char) => userInput.split(char).length - 1;

            function atError() {
                if (charCounter("@") > 1) {
                  return true;
                }

                return userInput.includes("@") != true;
            }


            function hasUnallowedChars(string, unallowedChars) {
                for (const char of unallowedChars) {
                    if (string.includes(char)) {
                        return true;
                    }
                }
            }

            function hasBeginningEndChar(string, allowedChars) {
                for (const char of allowedChars) {
                    if (char === string[0] || char === string[string.length - 1]) {
                      return true;
                    }
                }
            }

            const emailUsernameIsNotValid = (userPart) => {
              // User Metrics;
              const userPartDisallowedChars = [' ', '"', '\\', ',', ':', ';', '<', '>', '[', ']', '(', ')', '@'];
              const restrictedUserPartBeginEndChars = ['.', '-', '_', '!', '#', '$', '%', '&', "'", '*', '+', '/', '=', '?', '^', '`', '{', '|', '}', '~'];
              const restrictedUserPartDoubleChars = restrictedUserPartBeginEndChars.map((item) => `${item}${item}`)

              if (hasUnallowedChars(userPart, userPartDisallowedChars)) {
                return true;
              } else if (hasUnallowedChars(userPart, restrictedUserPartDoubleChars)){
                return true;
              } else if (hasBeginningEndChar(userPart, restrictedUserPartBeginEndChars)) {
                return true;
              }

              return false;
            }

            const emailDomainIsNotValid = (domainPart) => {
              // Domain Metrics
              const domainPartDisallowedChars = [' ', '"', '\\', ',', ':', ';', '<', '>', '[', ']', '(', ')', '@', '_', '/'];
              const restrictedDomainBeginEndChars = ['-', '.'];
              const restrictedDomainPartDoubleChars = restrictedDomainBeginEndChars.map((item) => `${item}${item}`)

              if (hasUnallowedChars(domainPart, domainPartDisallowedChars)) {
                return true;
              } else if (hasUnallowedChars(domainPart, restrictedDomainPartDoubleChars)) {
                return true;
              } else if (hasBeginningEndChar(domainPart, restrictedDomainBeginEndChars)) {
                return true;
              }

              return false;
            }

            const emailHasNoDomainOrUsername = () => {
                return splitUserInput[0].length > 0 && splitUserInput[1].length > 0 ? true : false;
            }

            // const emailDomain
        </script>
    </body>
</html>